body{
    text-align:center;
    margin-left:30%;
    margin-top:100px;
    background-image:linear-gradient(rgb(254, 255, 192), rgb(0, 247, 255) );

}
div{
    border:5px solid rgb(11, 1, 1);
    border-radius:60px;
    width:50%;
    height:300px;
    background-image:radial-gradient (rgb(255, 205, 223),rgb(128, 232, 240);
}
{
    label{
        margin-bottom: 30px;
        padding:50px;
    }
}